<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%block name="bodyclass">${course.css_class}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="title"><title>${_("{course.display_number_with_default} Course Info").format(course=course) | h}</title></%block>

<%include file="/courseware/course_navigation.html" args="active_page='groups'" />

<style type="text/css">
table.member_table th, table.member_table td { padding-right: 30px; }
</style>

<section class="container">
  <div class="info-wrapper">
    <section class="updates">
      <h1>${ group.display_name }</h1>

      <h2>Group members</h2>
      <table class="member_table">
        <tbody>
      % for user in group.user_set.all():
          <tr>
            <td>
          % if user in group.leaders.all():
            <a href="#">${ user }</a> (*)
          % else:
            <a href="#">${ user }</a>
          % endif
            </td>
            <td>
          % if request.user not in group.leaders.all():
            <a href="${reverse('student_progress', kwargs={'course_id': course.id, 'student_id': user.id})}">View Progress</a>
          % endif
            </td>
            <td><a href="mailto:${ user.email }">${ user.email }</a></td>
          </tr>
      % endfor
        </tbody>
      </table>
    </section>

    <section aria-label="Group List" class="groups">
      <h1>Your Groups</h1>
        <ol>
        % for joinus in groups:
          <li>
            <a href="${reverse('group_detail', kwargs={'course_id': course.id, 'group_name': joinus.display_name})}">
              ${joinus.display_name}
            % if joinus in leader_of:
              <span>(*)</span>
            % endif
            </a>
          </li>
        % endfor
        </ol>
        <hr></hr>
        <p><span>(*)</span> indicates groups you lead</p>
    </section>
  </div>
</section>
