<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%block name="bodyclass">${course.css_class}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="title"><title>${_("{course.display_number_with_default} Course Info").format(course=course) | h}</title></%block>

<%include file="/courseware/course_navigation.html" args="active_page='groups'" />

<section class="container">
  <div class="info-wrapper">
    <section class="updates">
      <h1>${_("Groups")}</h1>
      <h2>Join a Group</h2>

      % if invitation_code:
      <p>Received <em>${invitation_code}</em></p>
      % else:
      <p>Enter the name of the group you'd like to join:</p>
      <form action="" method="post">
          <p><input type="text" name="group_name" /> &nbsp;
          <input type="submit" /></p>
          <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
      </form>
      % endif
      <p></p>
      <h2>Create a new group</h2>
      <p>
      If you would like to create a new group, e.g. for a class or a study group, you can enter its name here:</p>
      <form action="" method="post">
        <p><input type="text" name="new_group" /> &nbsp;
        <input type="submit" /></p>
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
        </p>
      </form>
    </section>
    <p></p>



    <section aria-label="Handout Navigation" class="handouts">
      <h1>Your Groups</h1>
        <ol>
        % for joinus in groups:
          <li>
            <span>
              <a href="${reverse('group_detail', kwargs={'course_id': course.id, 'group_name': joinus.display_name})}">${joinus.display_name}</a>
            </span>
            % if joinus in leader_of:
            <span>(*)</span>
            % endif
          </li>
        % endfor
        </ol>
        <hr></hr>
    </section>
  </div>
</section>
