<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%block name="bodyclass">${course.css_class}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="title"><title>${_("{course.display_number_with_default} Course Info").format(course=course) | h}</title></%block>

<%include file="/courseware/course_navigation.html" args="active_page='groups'" />

<style type="text/css">
table.member_table th, table.member_table td { padding-right: 30px; }
</style>

<section class="container">
  <div class="info-wrapper">
    <section class="updates">
      <h1>${ group.display_name }</h1>

      <h2>Group members</h2>
      <table class="member_table">
        <tbody>
      % for user in group.user_set.all():
          <tr>
            <td><a href="#">${ user }</a></td>
            <td><a href="#">View Progress</a></td>
            <td><a href="mailto:${ user.email }">${ user.email }</a></td>
          </tr>
      % endfor
        </tbody>
      </table>
    </section>
    <section aria-label="Handout Navigation" class="handouts">
      <h1>Your Groups</h1>
        <ol>
        % for joinus in group_list:
         <li>
          <a href="${reverse('group_detail', kwargs={'course_id': course.id, 'group_name': joinus.display_name})}">${joinus.display_name}</a>
        </li>
        % endfor
        <hr></hr>
        </ol>
    </section>
  </div>
</section>
